name: Waka Readme

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKA_KEY }}
          GH_TOKEN: ${{ secrets.README }}
          SHOW_LINES_OF_CODE : true
          SHOW_PROFILE_VIEWS : true
          SHOW_LANGUAGE_PER_REPO : true
          SHOW_LOC_CHART : true
          SHOW_SHORT_INFO : true
          SHOW_PROJECTS : true
          SHOW_TOTAL_CODE_TIME : true
          SHOW_TITLE : true
